body{
        background-color: light-blue;
}

.message-wrapper{
        border-radius: 21rem !important;
        background-color: #e0fffe;
        margin-top: 15px;
        max-width: 47%;
        left: 25%;

}
.message-wrapper-author{
        left:50%; 
}
.message-sender {
    color: darkblue;
}

.chat-title{
        text-align: center;
}
.chat-body{
        height:70vh;
        overflow:auto;
        padding-bottom:1vh;
}
.bottom-bar{
        position: fixed;
        bottom: 0px;
        left:0px;
        background-color:teal;
        width: 100vw;
        height:10vh;
}
.message-send-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height:100%;
}

.message-input-box-wrapper {
    width: 50vw;
}
.input-box{
        width:100%;
}

/*
 *
 *
 *
 *
 * left: 95vw;
    float: left;
    position: relative;
    transform: translateX(-50vw);
    width: 100%;


    */
