body{
        background-color: light-blue;
}

.message-wrapper {
        border-radius: 3rem !important;
        background-color: #e0fffe;
        margin-top: 11px;
        max-width: 76%;
        left: 25%;
        width: fit-content;
        display: table;
        /*  this is all fixing the round border background from showing through */
        -moz-background-clip: padding; 
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
}

.message-wrapper-author{
        left: -25%;
        margin-left: auto;
        background-color: #dcffe3 !important;
}
.message-header {
        display:inline-block;
        font-style: bold;
        padding-bottom: 5px;
}

.message-time{
        color:green;
        display: inline;
}

.message-sender {
        display: inline;
        color: darkblue;
        margin: 10px;
}

.end-messages-hidden-bar{
        float:left;
        clear:both;
        margin-top: 2vh;
}


.chat-title{
        text-align: center;
        font-size:1.8rem;
}
.chat-body{
        height:70vh;
        overflow:auto;
        padding-bottom:1vh;
        overflow-x: hidden;

}
.bottom-bar{
        position: fixed;
        bottom: 0px;
        left:0px;
        background-color:teal;
        width: 100vw;
        height:10vh;
}
.message-send-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height:100%;
}

.message-input-box-wrapper {
        width: 50vw;
}
.input-box{
        width:100%;
}
.login-wrapper{
        height:100vh;
        display:flex;
        justify-content:center;
        align-items:center;
}
.login-form-wrapper{
        padding:100px;
}
.login-title{
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.2;
        color:#037bff;
        text-align:center;

}
.login-submit-button-wrapper{
        text-align:center;
}
.login-username-button{
        width:80% ;
}

.react-autosuggest__container {
        position: relative;
}

.react-autosuggest__input {
        display: block;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input {
        overflow: visible;
}

.react-autosuggest__input--focused {
        outline: none;
}

.react-autosuggest__input--open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
        display: none;
}

.react-autosuggest__suggestions-container--open {
        display: block;
        position: absolute;
        top: 50px;
        width: 280px;
        border: 1px solid #aaa;
        background-color: #fff;
        font-family: Helvetica, sans-serif;
        font-weight: 300;
        font-size: 16px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        z-index: 2;
}

.react-autosuggest__suggestions-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
}

.react-autosuggest__suggestion {
        cursor: pointer;
        padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
        background-color: #ddd;
}


.user-chip {
        display: inline-block;
        padding: 0 25px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        border-radius: 25px;
        background-color: #007bff;
        color:white; 
        margin: 2.5px;
}

.user-chip-close-btn{
        padding-left: 10px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 20px;
        cursor: pointer;
}
.user-chip-close-btn:hover{
        color: #6afcfd;
}
.user-chip-new-user{
        background-color: #b400ff;
}
.edit-chat-button{
        float: right;
}
.user-chat-browser-list {

        overflow: scroll;
        height: 70vh;
        width:100%;
}



@keyframes fade_out_show {
        0% {
                opacity: 1;
        }

        100% {
                opacity: 0;
                display:none !important;
        }
}

@keyframes fade_in_show {
        0% {
                display:none;
                opacity: 0;
        }
        100% {
                opacity: 1;
                display:flex !important;

        }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
        .login-title{
                font-size: 4.5rem;
        }


}
@media(max-width: 992px){

        .message-wrapper{
                left: 4% ;
                padding: 22px;
        }
        .message-wrapper-author {
                left: 0% ;
        }
        .mobile-hidden{
                display:none;
        }
        .mobile-not-hidden{
                animation: fade_in_show 1.0s forwards;
        }

        .sideMenuButton{
                display:fixed;
                right:2px;
                top:21px;
                position:absolute;
                z-index: 1000;
                padding: 16px;
                background: #007bff;
                color: white !important;
                margin: auto;
        }
        .user-chat-browser-list{
                position: fixed;
                top: 15px;
                left: 0px;
                z-index: 100;
                width: 100vw;
        }
        .add-new-chat-button{
                width: 60% !important;
                z-index:10000;

        }
        .user-chat-search-wrapper {
        }

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  
        .sideMenuButton{
                display:none;
        }
        .chat-browser-list{
                display:relative;
        }
        .login-title{
                font-size: 6rem;
        }
        .mobile-hidden{
                display: flex !important;

        }

        .mobile-not-hidden{
                display: flex !important;

        }

        .chat-title{
                font-size: 4.5rem;
        }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/*
 *
 *
 *
 *
 * left: 95vw;
 float: left;
 position: relative;
 transform: translateX(-50vw);
 width: 100%;


 */
